# Configuration of the camera
camera :
{
camera_position = { x = 0.0; y = 0.0; z = 0.0; };
screen_position = { x = 0.0; y = 0.0; z = 0.0; };
screen_bottom = { x = 1.0; y = 0.0; z = 0.0; };
screen_left = { x = 0.0; y = 1.0; z = 0.0; };
};
# Primitives in the scene
primitives :
{
# List of spheres
spheres = (
{ name = "sphere2"; center = { x = 0.1; y = 0.1; z = 0.1}; direction = { x = 0.0; y = 0.0; z = 0.0}; rotation = { x = 0.0; y = 0.0; z = 0.0 }; double = 20.0}
) ;
};